@import "tailwindcss";

@theme {
  --color-red: #D5182E;
  --color-black: #1E1E1D;
  --color-light-pink: #E76B97;
  --color-hot-pink: #E7427E;
  --color-cyan: #08C4D6;
  --color-gray: #BEB6B2;
  --color-yellow: #DAFF00;

  --font-title: 'Mochiy Pop One', sans-serif;
  --font-subtitle: 'Genos', sans-serif;
  --font-body: 'Inter', sans-serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #1E1E1D;
    color: white;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }
}